*{
  font-family: 'Bangers', cursive;
}

.color-default{
  color: #f76f00;
}

img {
  background-repeat: no-repeat;
  left: -120px;
  top: -20px;
  position: relative;
  margin: 20px 50%;

}

/* Estilo da página --------------------------------------------------------- */

/* Tratando o "pacote", gerenciar posições e tamanhos do "pacote" */
.wrapper{
  background: #1c53a9;


  /* Definição para os Navegadores */
  background: -webkit-linear-gradient(top left, #008a8a 0%, #008a8a 100%);
  background: -moz-linear-gradient(top left, #008a8a 0%, #008a8a 100%);
  background: -o-linear-gradient(top left, #008a8a 0%, #008a8a 100%);
  background: linear-gradient(to bottom right, #008a8a 0%, #008a8a 100%);

  /* Definições Geral */
  position: absolute; top: 50%; left: 0;
  width: 100%; height: 400px; margin-top: -200px;
  overflow: hidden;
}

/* Controle do "container", posição e tamanho */
.container{
  max-width: 600px; margin: 0 auto;
  padding: 50px 0px; width: auto; height: 400px;
  text-align: center;
}
.container > h1{ /* Efeito sobre o h1 -- Apresentação inicial */
  font-size: 45px;
  transition-duration: 1.5s;
  transition-timing-function: ease-in-out;
  font-weight: 200px;
}

/* Tratando estilo do formulario */
.frm{
  padding: 20px 0; position: relative;

}
.frm > input{ /* TAG input */
  appearance: none; outline: 0;
  width: 300px; color: #f76f00; font-weight: 300;
  border-radius: 3px; padding: 10px 15px; margin: 5px auto;
  display: block; text-align: center; font-size: 18px;
  transition-duration: 0.25s;

  border: 1px solid fade(white, 40%);
  background-color: fade(white, 20%);
}
.frm > input:hover{
  background-color: fade(white, 40%);
}
.frm > input:focus{
  background-color: white; width: 350px;
}
.frm > button{ /* TAG button */
  background-color: #f76f00; cursor: pointer;
  appearance: none; outline: 0;
  width: 300px; color: white; font-weight: 300;
  border-radius: 3px; padding: 10px 15px; margin: 5px auto;
  display: block; text-align: center; font-size: 18px;
  transition-duration: 0.25s;
}
.frm > button:hover{
  background-color: #f76f00 ; width: 350px;
}

/* Tratando estilo do rodapé */
footer{
  width: auto; height: auto; padding: 10px 0;
  position:absolute; bottom:0; width:100%;
  text-align: center;
}
footer > p{
  padding: 10px 0;
}
footer > a{
  text-decoration: none; color: #f76f00;
  margin: 0 5px; padding: 5px 5px; border: 5px 0;
}
footer > a:hover{
  color: #008a8a; font-style: italic;
  transition-duration: 0.25s;
}
