/* Estilo Menu - Padrão Foxtrot --------------------------------------------- */
/*background-color: #1b2838;*/
*{
	font-family: 'Bangers', cursive;
}

header{
  background-color: #008a8a;
	width: 100%; height: 65px;
	position: relative;
}
header > img {
	position: absolute; margin: 5px 20%;
	left: -44.5px; padding: 0px 5px;
}
ul {
	width: 600px; height: auto;
	position: absolute; margin: 0 50%;
	left: -300px; cursor: pointer;
}
ul > li{
	width: 25%; height: auto;
	text-decoration: none; float: left; color: #fff;
	list-style: none; text-align: center;
	padding: 15px 0px; font-size: 20px;
}
ul > li:hover{
	background-color: #f76f00; height: 35px;
}

li > a{
  text-decoration: none; color: #fff;
}

/* Estilo Barra de indicação - Indicador de Página -------------------------- */
section{
  width: 90%; height: auto; position: absolute;
  left: -45%; margin: 0px 50%; top: 80px;
  border-bottom: solid #008a8a; color: #000;
}
